# Python BMI Calculator

## Install Packages

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in d:\users\sgupta7088\appdata\roaming\python\python38\site-packages (from pandas) (2019.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in d:\users\sgupta7088\appdata\roaming\python\python38\site-packages (from pandas) (1.21.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: Ignoring invalid distribution -uamel-yaml (d:\users\sgupta7088\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\users\sgupta7088\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -uamel-yaml (d:\users\sgupta7088\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\users\sgupta7088\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rllib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rapt (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -nyio (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -dna (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -uamel-yaml (d:\users\sgupta7088\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\users\sgupta7088\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rllib3 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rapt (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -nyio (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -dna (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -uamel-yaml (d:\users\sgupta7088\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\users\sgupta7088\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -uamel-yaml (d:\users\sgupta7088\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\users\sgupta7088\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -uamel-yaml (d:\users\sgupta7088\appdata\roaming\python\python38\site-packages)
WARNING: Ignoring invalid distribution -andas (d:\users\sgupta7088\appdata\roaming\python\python38\site-packages)
WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip' command.

## Load Modules

In [12]:
import pandas as pd
import timeit
import copy

## Input Data

In [4]:
data = [{"Gender": "Male", "HeightCm": 171, "WeightKg": 96 },
{ "Gender": "Male", "HeightCm": 161, "WeightKg": 85 },
{ "Gender": "Male", "HeightCm": 180, "WeightKg": 77 },
{ "Gender": "Female", "HeightCm": 166, "WeightKg": 62},
{"Gender": "Female", "HeightCm": 150, "WeightKg": 70},
{"Gender": "Female", "HeightCm": 167, "WeightKg": 82}]

## Load Data

In [9]:
data_df = pd.DataFrame(data)

In [10]:
data_df.head(2)

  Gender  HeightCm  WeightKg
0   Male       171        96
1   Male       161        85

## 1.Calculate Body Mass Index, BMI Category and Health Risk

In [11]:
def calculate_Body_Mass_Index_BMI_Category_Health_Risk(row):
    """
    Function for calculating Body Mass Index, BMI Category and Health Risk
    Input: Pandas dataframe row
    Output: Body Mass Index, BMI Category, Health Risk 
    """  
    height_m, weight_kg = row['HeightCm']/100, row['WeightKg']
    body_mass_index = weight_kg/height_m
    bmi_category, health_risk = None, None
    if body_mass_index <= 18.4:
        bmi_category = 'Underweight'
        health_risk = 'Malnutrition risk'
    elif body_mass_index >= 18.5 and body_mass_index <= 24.9:
        bmi_category = 'Normal weight'
        health_risk = 'Low risk'
    elif body_mass_index >= 25 and body_mass_index <= 29.9:
        bmi_category = 'Overweight'
        health_risk = 'Enhanced risk'
    elif body_mass_index >= 30 and body_mass_index <= 34.9:
        bmi_category = 'Moderately obese'
        health_risk = 'Medium risk'
    elif body_mass_index >= 35 and body_mass_index <= 39.9:
        bmi_category = 'Severely obese'
        health_risk = 'High risk'
    elif body_mass_index >= 40:
        bmi_category = 'Very severely obese'
        health_risk = 'Very high risk'
    return body_mass_index,bmi_category,health_risk

## Create Copy of Original DataFrame

In [16]:
data_df1 = copy.deepcopy(data_df)
data_df1.head(2)

  Gender  HeightCm  WeightKg
0   Male       171        96
1   Male       161        85

In [17]:
data_df2 = copy.deepcopy(data_df)
data_df2.head(2)

  Gender  HeightCm  WeightKg
0   Male       171        96
1   Male       161        85

## Approach 1:Using Vanilla Apply Function

In [19]:
%timeit data_df1[["Body Mass Index", "BMI Category", "Health risk"]] = data_df1.apply(calculate_Body_Mass_Index_BMI_Category_Health_Risk, axis=1, result_type="expand")

1.74 ms ± 20.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [20]:
data_df1

,Gender,HeightCm,WeightKg,Body Mass Index,BMI Category,Health risk
0,Male,171,96,56.140351,Very severely obese,Very high risk
1,Male,161,85,52.795031,Very severely obese,Very high risk
2,Male,180,77,42.777778,Very severely obese,Very high risk
3,Female,166,62,37.349398,Severely obese,High risk
4,Female,150,70,46.666667,Very severely obese,Very high risk
5,Female,167,82,49.101796,Very severely obese,Very high risk

## Approach 2: Using Zip Function

In [21]:
%timeit data_df2['Body Mass Index'], data_df2["BMI Category"], data_df2["Health risk"] = zip(*data_df2.apply(calculate_Body_Mass_Index_BMI_Category_Health_Risk, axis=1))

752 µs ± 23.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [23]:
data_df2

,Gender,HeightCm,WeightKg,Body Mass Index,BMI Category,Health risk
0,Male,171,96,56.140351,Very severely obese,Very high risk
1,Male,161,85,52.795031,Very severely obese,Very high risk
2,Male,180,77,42.777778,Very severely obese,Very high risk
3,Female,166,62,37.349398,Severely obese,High risk
4,Female,150,70,46.666667,Very severely obese,Very high risk
5,Female,167,82,49.101796,Very severely obese,Very high risk

## 2. Calculate Total No of Overweight People

## Approach 1

In [25]:
data_df1[data_df1['BMI Category'] == 'Overweight'].shape[0]

0

## Approach 2

In [26]:
data_df2.groupby('BMI Category').agg(Count=('BMI Category', 'count')).reset_index()

          BMI Category  Count
0       Severely obese      1
1  Very severely obese      5